.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch:before{
  transform: translateX(40px);
}
.switch {
  /* border: 1px solid red; */
  height: 40px;
  display: block;
  border-radius: 20px;
  background: var(--switch);
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.switch::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--switchSpinner);
  border-radius: 50%;
  transform: translateX(0);
  transition: .3s;
  will-change: transform;
}
